<%= provide(:title, "Home") %>
<%= provide(:body, "Blog") %>
<% all.each do |post| %>
<div class="container">
	<div class="row">
		<!-- Blog Entries Column -->
		<div class="col-md-8">
			<h1 class="my-4"><%= post.title %></h1>
			<!-- Blog Post -->
			<div class="card mb-4">
				<%= image_tag post.picture.url %>
				<div class="card-body">
					<p class="card-text">
						<div id="max"><%= post.description %>
						</div>
					</p>
					<%= link_to "Read More", post_path(post.id), class: "btn btn-primary" %> &rarr;
				</div>
				<div class="card-footer text-muted">
					Posted:
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
<% end %>
