<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/nav' %>
    <% flash.each do |type, msg| %>
        <div class="alert alert-<%= type %>"><%= msg %></div>
    <% end %>
    <div class="panel-group bdr">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <center><%= yield(:body) %></center> 
        </div>
        <div class="panel-body">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <%= user_session[:id] %>
  </body>
</html>
